body {
    margin: 0;
    padding: 0;
    font-family: 'Darker Grotesque', sans-serif;
    width: 100%;
}

.clickable {
    cursor: pointer;
}

h2 {
    font-family: 'Cormorant', serif;
    text-transform: capitalize;
    font-size: 64px;
    line-height: 72px;
    font-weight: 400;
}

header {
    color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    background: url('../images/hero-bg-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 80%;
}

nav > div {
    display: flex;
    align-items: center;
    height: 102px;
    text-transform: uppercase;
}

nav li {
    font-size: 16px;
    line-height: 19px;
    list-style-type: none;
    font-weight: 600;
    height: 24px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav-start {
    position: relative;
    font-size: 36px;
    line-height: 72px;
    text-transform: lowercase;
    font-family: 'Cormorant', serif;
    text-align: center;
}

.nav-start .logo {
    position: relative;
    bottom: 10px;
}

.nav-center {
    flex: 1;
    justify-content: center;
    display: flex;
}

.nav-center .nav-links {
    width: 480px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-end li {
    text-align: right;
}

.carousel-controls {
    width: 80%;
    height: 66px;
    display: flex;
    justify-content: flex-start;
}

.carousel-options {
    width: 90px;
    height: 6px;
    display: flex;
    justify-content: space-around;
}

.carousel-option {
    width: 6px;
    height: 6px;
    background-color: #fff;
    border-radius: 40px;
}

.carousel-option-active {
    width: 12px;
}

.jumbotron {
    width: 80%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.jumbotron h1 {
    font-family: 'Cormorant', serif;
    font-size: 64px;
    font-weight: 300;
    margin-bottom: 10%;
}

.flex-section {
    display: flex;
    margin-top: 120px;
    min-height: 720px;
    flex-direction: row;
    justify-content: center;
}

.flex-section-lg {
    margin-top: 240px;
    height: 960px;
    justify-content: flex-start;
}

.about .about-images {
    min-width: 720px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 720px;
}

.about-images .about-image-container {
    height: 720px;
    min-width: 720px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
}

.image-tile {
    width: 336px;

}

.tile-md {
    background-color: bisque;
    height: 288px;
}

.tile-lg {
    background-color: beige;
    height: 384px;
}

.about .about-article {
    width: 720px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-article article {
    margin-left: 120px;
}

.about-article article p {
    height: 417px;
    width: 600px;
    font-weight: 600;
    font-size: 24px;
    line-height: 2;
}

.services-article {
    width: 840px;
    height: 720px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.services-article article {
    margin-right: 120px;
    width: 480px;
}

.services-article article p {
    font-size: 24px;
    font-weight: 600;
    line-height: 2;
}

.services-categories {
    width: 1080px;
    height: 720px;
    background-color: #764248;
}

.services-menu {
    display: flex;
    height: 144px;
    margin-left: 48px;
    align-items: flex-end;
    border-bottom: 1px solid rgba(255, 255, 255, 0.699);
}

.services-menu li {
    height: 48px;
    list-style-type: none;
    font-size: 26px;
    font-weight: 400;
    line-height: 36px;
    color: #fff;
    margin-right: 120px;
}

li.active {
    font-weight: 600;
    border-bottom: 1px solid #fff;
}

.services-menu-content {
    margin-top: 22.93px;
    display: flex;
    overflow-x: auto;
}

.services-categories figure {
    margin: 0 48px 0 0;
}

.services-menu-content figcaption {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}



.store {
    width: 100%;
    color: #fff;
    padding-left: 240px;
    background-color: #20274D;
}

.store h2 {
    line-height: 120px;
    height: 120px;
    margin: 48px 0 0 0;
}

.store-menu {
    display: flex;
    align-items: center;
    height: 72px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.699);
}

.store-menu li {
    color: #fff;
    list-style-type: none;
    font-size: 26px;
    line-height: 72px;
    height: 72px;
    margin-right: 120px;
    text-transform: capitalize;
}

.store-menu-content {
    display: flex;
    margin: 24px 0 0 0;
    overflow: auto;
}

.store-menu-content figure {
    margin: 0 48px 0 0;
}

.store-menu-content figcaption {
    margin: 24px 0 0 0;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

.store-menu-content figcaption .caption-title {
    height: 48px;
    font-size: 20px;
    line-height: 36px;
    font-weight: 600;
}

.store-menu-content figcaption .caption-details {
    display: flex;
    font-size: 16px;
    font-weight: 500;
    justify-content: space-between;
}

.caption-details li {
    list-style-type: none;
    text-transform: uppercase;
}

.caption-details li:first-child {
    line-height: 42px;
}

.caption-details li:last-child {
    background-color: #fff;
    color: #20274D;
    padding: 10px 15px;
}

.booking-article {
    width: 720px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.booking-article article p {
    font-size: 24px;
    line-height: 2;
    font-weight: 600;
}

.booking-content {
    width: 816px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 720px;
    background-color: rgba(32, 39, 77, 0.055);
}

.booking-form {
    margin-left: 96px;
}

.flex-row {
    width: 624px;
    display: flex;
    justify-content: space-between;
}

.fr-mid {
    justify-content: center;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 288px;
    margin-bottom: 32px;
}

.input-group label {
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    margin-bottom: 20px;
}

.input-bar {
    height: 48px;
    display: flex;
    width: 288px;
    border: 1px solid #20274D;
    border-top: 2px solid #20274D;
}

.ib-inv {
    border: 1px solid #fff;
}


.input-group-md, .input-bar-md {
    width: 480px;
}

.input-group-lg, .input-bar-lg {
    width: 624px;
}

.input-group i {
    padding: 0 10px;
    font-size: 24px;
    line-height: 48px;
    color: #20274D;
}

.input-group input, select {
    background-color: rgba(32, 39, 77, 0);
    padding: 0 24px;
    font-size: 16px;
    font-weight: 400;
    border: none;
    flex: 1;
    -webkit-appearance: none;
}

select::-ms-expand {
    display: none;
}

input:focus, select:focus {
    outline: none;
}

.btn {
    border: none;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    width: 288px;
    height: 48px;
    background-color: #20274D;
}

.btn-secondary {
    background-color: #fff;
    color: #20274D;
}

.mt-3 {
    margin-top: 72px;
}

.footer {
    display: flex;
    width: 100%;
    color: #fff;
    background-color: #20274D;
}

.footer-a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.footer-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.footer-form h2 {
    margin: 0 0 42px 0;
}

.footer-form p {
    margin: 0 0 42px 0;
    font-size: 16px;
    line-height: 48px;
}

.footer-form input {
    color: #fff;
    font-weight: 600;
}

.footer-form input::placeholder {
    color: #fff;
}

.footer-form button {
    font-weight: 600;
    width: 144px;
}



.footer-b {
    width: 50%;
    display: flex;
    align-items: center;
}

.footer-links {
    display: flex;
    align-items: flex-start;
}

.footer-links > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 48px;
}

.footer-b h3 {
    margin: 0 0 17px 0;
    padding: 0;
    font-size: 24px;
    line-height: 48px;
    font-weight: 500;
}

.footer-b ul {
    margin: 0 0 17px 0;
    padding: 0;
}

.footer-b ul li {
    list-style-type: none;
}

@media(max-width: 992px) {
    /* nav {
        justify-content: space-around;
    } */

    .flex-section {
        flex-direction: column;
    }

    .flex-section > * {
        justify-content: center;
    }
}

